{
  "env": {
    "development": {
      "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
      "plugins": [["inline-react-svg", { "svgo": false }]]
    },
    "production": {
      "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
      "plugins": [["inline-react-svg", { "svgo": false }]]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react", "next/babel"]
    }
  }
}
